[submodule "all/.vim/bundle/grb256"]
	path = all/.vim/bundle/grb256
	url = https://github.com/quanganhdo/grb256.git
[submodule "all/.vim/bundle/pathogen"]
	path = all/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "all/.vim/bundle/airline"]
	path = all/.vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "all/.vim/bundle/ctrlp"]
	path = all/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "all/.vim/bundle/ack"]
	path = all/.vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "all/.vim/bundle/polyglot"]
	path = all/.vim/bundle/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "all/.vim/bundle/unimpaired"]
	path = all/.vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "all/.vim/bundle/matchit"]
	path = all/.vim/bundle/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "all/.vim/bundle/fugitive"]
	path = all/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "all/.vim/bundle/gundo"]
	path = all/.vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "all/.vim/bundle/surround"]
	path = all/.vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "all/.vim/bundle/snipmate"]
	path = all/.vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "all/.vim/bundle/tlib"]
	path = all/.vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "all/.vim/bundle/vim-addon-mw-utils"]
	path = all/.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "all/.vim/bundle/syntastic"]
	path = all/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "all/.vim/bundle/tagbar"]
	path = all/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "all/.vim/bundle/indent-object"]
	path = all/.vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "all/.vim/bundle/endwise"]
	path = all/.vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "all/.vim/bundle/css-color"]
	path = all/.vim/bundle/css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "all/.vim/bundle/kwbd"]
	path = all/.vim/bundle/kwbd
	url = https://github.com/rgarver/Kwbd.vim.git
[submodule "all/.vim/bundle/vroom"]
	path = all/.vim/bundle/vroom
	url = https://github.com/skalnik/vim-vroom.git
[submodule "all/.vim/bundle/eunuch"]
	path = all/.vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "all/.vim/bundle/repeat"]
	path = all/.vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "all/.vim/bundle/vim-snippets"]
	path = all/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "all/.vim/bundle/dispatch"]
	path = all/.vim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "all/.vim/bundle/multiple-cursors"]
	path = all/.vim/bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "all/.vim/bundle/visualstar"]
	path = all/.vim/bundle/visualstar
	url = https://github.com/thinca/vim-visualstar.git
[submodule "all/.vim/bundle/supertab"]
	path = all/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "all/.vim/bundle/rails"]
	path = all/.vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "all/.vim/bundle/nerdcommenter"]
	path = all/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
