# unix
alias l='ls'
alias ll='ls -al'
alias lh='ls -Alh'
alias issh='ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
alias stow='stow --ignore ".DS_Store"'
alias dotfiles='stow -d ~/.dotfiles'

# tmux
alias tmux='tmux -u'

# ruby
alias bo="bundle open"

# osx
alias dnsflush="sudo killall -HUP mDNSResponder"
alias deploy-automators="sudo cp -r ~/osx-automators/*.app /Applications/"

# git
alias bfg="java -jar ~/bin/bfg-1.11.1.jar"
# download bfg from http://rtyley.github.io/bfg-repo-cleaner/

alias update_infect="curl https://raw.github.com/csexton/infect/master/standalone/infect > ~/.dotfiles/public/bin/infect && chmod +x ~/.dotfiles/public/bin/infect"

alias vi='vim'
alias v='vim'
