# unix
alias l='ls'
alias ll='ls -al'
alias lh='ls -Alh'
alias issh='ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
alias dotfiles='stow -d ~/.dotfiles'

# ruby
alias be="bundle exec"
alias bo="bundle open"

# osx
alias dnsflush="sudo killall -HUP mDNSResponder"
